<div class"max-w-sm mx-auto">
  <h1 class="mx-auto w-32 text-xl pt-12">New bottle</h1>

  <%= render "form", bottle: @bottle %>

  <br>

  <div>
    <%= link_to "Back to bottles", bottles_path, class: "mx-auto text-gray-500 w-32 block" %>
  </div>
</div>
